
{%extends 'base.html' %}
{%block body_block%}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

                <div class="card" style="width: 18rem;">
                    {%if order.item.image%}

                    <img src="{{order.item.image.url}}" class="card-img-top" alt="..." height="250px">

                    {%endif%}


                    <div class="card-body">
                        <h5 class="card-title">{{order.item.book_name}}</h5>
                        <h6 class="card-subtitle mb-2 ">{{order.item.author}}</h6>
                        <h6 class="card-subtitle mb-2 ">{{order.item.price}}</h6>
                        <p class="card-text">user: {{order.address}}</p>
                        <p class="card-text">email: {{order.user.email}}</p>

                        <a href="#" class="btn btn-primary">Allow</a>
                    </div>
                </div>

        </div>

    <div class="col-2"></div>
    </div>

{%endblock%}

