

{%extends 'base.html' %}
{%block body_block%}

<div class="row mt-3">
    <div class="col-4"></div>
    <div class="col-4">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
                {% endif %}

            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-4"></div>
</div>
<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-8">
        <form action="" method="post" enctype="multipart/form-data">

            {%csrf_token%}
            {{form.as_p}}

            <div class="mb-3">
                <input type="submit" value="AddBook">

            </div>

        </form>
    </div>
    <div class="col-2"></div>

</div>


{%endblock%}