{%extends 'cust_base.html'%}

{%block body_block%}

{%for cart in items%}
<div class="row mt-5">

    <div class="col-3">
        {%if cart.item.image%}
        <img alt="" height="250px" src="{{cart.item.image.url }}" width="100%">
        {%endif%}
    </div>

    <div class="col-4">
        <div class="cart-body">
            <h5 class="cart-title">{{cart.item.book_name}}</h5>
            <p class="cart-text">author: {{cart.item.author}}</p>
        </div>
    </div>

    <div class="col-2">
        {{cart.item.price}}
    </div>
    <div class="col-3">

        <strong> <span>{{cart.status}}</span></strong>

        {%if cart.status != "order_placed" %}
        <a href="{%url 'order_create' cart.item.id cart.id %}" class="btn btn-success">Buy now</a>
        {%endif%}

        <a href="{%url 'remove_item' cart.id %}" class="btn btn-outline-danger">Remove</a>
    </div>

</div>
{%endfor%}

<hr>
<div class="row mt-3">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4">
        <strong>Total: </strong> {{total}}
    </div>

</div>


{%endblock%}